<div [@routerTransition]>
  <div class="row">

    <!-- Post Content Column -->
    <div class="col col-xl-9">
      <!-- Title -->
      <h3 class="mt-4">Welcome</h3>
      <hr>


      <p>Házhozszállítás, ételrendelés</p>
      <p>   Szeretnél egy gyors ebédet vagy egy vacsorát házhoz rendelni? Válaszd a pizzarendelést.</p>

      <p>    Ételrendelés, több mint húsz féle étterem kínálatából, az örök kedvenc pizzától és a klasszikus magyar konyhától kezdve a déli népek konyháján keresztül, az egzotikus távolkeleti fogásokig, legyen az sushi, indiai, thai vagy kínai. Ha például egy klasszikus olasz pizzára vagy egy jó magyaros pörköltre vágysz, akkor először válaszd ki, hova szeretnél rendelni.
      </p>
      <p>   A vendéglátóhelyek listáját ezután tovább szűrheted a konyhák típusa szerint. A megjelenő étlapon nézd meg, hogy a többiek milyen ételeket kedvelnek, vagy használd a személyre szabott keresést. Pár klikkelés és máris a kosárba kerül a kívánt leves, főétel és desszert. A rendelés feladása után a rendszer automatikusan eljuttatja az információkat az étteremnek.
        Nincs hiba, minden rendelés 100%-osan ellenőrzött. Az étterem elkészíti az ételeket, és kiszállítja azt.
      </p>
      <p>   A MealRide-dal nem csak otthonodba, de munkahelyedre, a kampuszodba vagy kollégiumodba is rendelhetsz ételt! Sushi a barátokkal? Pizza a laktótársakkal? Burrito a kollégákkal? Esetleg vegetáriánus vagy? Nálunk mindenki megtalálja a számítását, méghozzá gyorsan! Megéheztél úton hazafelé? Rendelj még útközben a mobilodon, hogy hazatérted előtt már készüljön a vacsorád!
      </p> <hr>
      <p>Copied from <a href="http://www.netpincer.hu">NetPincér</a>
      </p>

      <hr>

    </div>

  </div>
  <!-- /.row -->
</div>

